ul {
    margin-bottom: 0;
    padding-left: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
}

.login {
    width: 100%;
    text-align: right;
    background-color: #fff;
    color: #000;
}

.login span, a {
    padding-right: 1rem;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header__logo {
    display: block;
    font-size: 1.5rem;
    color: #fff;
}

.header__logo:hover {
    color: #fff;
    text-decoration: none;
}

@media all and (min-width: 851px) {
    .main-nav {
        flex: 1;
        display: flex;
        justify-content: space-between;
        padding-left: 2%;
    }
}

@media all and (max-width: 850px) {
    .main-nav {
        width: 100%;
        position: absolute;
        top: -230px;
        right: 0;
        display: flex;
        flex-direction: column;
        border-top: 1px solid #fff;
        background-color: #000;
    }
}

.main-nav-open {
    top: 92px;
}

.main-nav__menu {
    display: flex;
    flex-direction: row;
}

@media all and (max-width: 850px) {
    .main-nav__menu {
        flex-direction: column;
    }
}

.main-nav__user-authentication {
    display: flex;
    flex-direction: row;
}

@media all and (max-width: 850px) {
    .main-nav__user-authentication {
        padding: 15px 0;
        flex-direction: column;
    }
}

.main-nav__item {
    padding-right: 10px;
    list-style-type: none;
}

@media all and (max-width: 850px) {
    .main-nav__item {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: .5rem 1rem 0 0;
    }
}

.main-nav__link {
    color: #fff;
    font-size: 14px;
}

.main-nav__link:hover {
    color: #fff;
    text-decoration: none;
}

@media all and (max-width: 850px) {
    .main-nav__link {
        font-size: 16px;
    }
}

.header__burger {
    display: none;
} 

@media (max-width: 850px) {
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    } 

    .header__burger-item {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        top: 9px;
        background: #fff;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        background: #fff;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }
}