.signin {
    margin: 30px auto;
}

.signin__title {
    display: block;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.signin__question {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.signin__empty_fields_message {
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    background-color: #f27458;
}

@media all and (max-width: 425px) {
    .signin__empty_fields_message {
        width: 60%;
    }
}

.signin__empty_fields_message ul {
    padding-left: 0;
    list-style-type: none;
}

.signin__bad-input-data {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: red;
}

.signin__form {
    width: 250px;
    margin: 10px auto;
}

.signin__submit {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #000;
    border: none;
    border-radius: 50px;
    color: #fff;
}